@import 'bootstrap-custom';
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Lato', sans-serif;
  color: #2c2f33;
  min-height: 100vh;  
}

#__next {
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
}

.block-list {
    padding: 20px 0;
    max-width: 360px;
    background-color: #fff;
    border: 1px solid #eee;
}
.block-list > * {
    padding: 10px 40px;
}
.block-list > *:first-child {
    border-top: 1px solid #eee;
}
.block-list > * {
    border-bottom: 1px solid #eee;
}
.block-list > *:hover {
    cursor: move;
}